.mask{
    width: 100%;
    position:relative;
}
.into-Img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-color: black;
    opacity: 0.3;
}
.mask::after{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
}
.Hero{
    height: 100%;
    width: 100%;
}
.Hero .Content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.Hero .Content h1{
   font-size: 3.5rem;
   padding: 0.6rem 0.1.5rem;
   margin-bottom: 20px;
}
.Hero .Content p{
    font-size: 1.4rem ;
    font-weight: 200;
    text-transform: uppercase;
}
.hero-img::before{
    content: "";
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.Content .btn{
    margin:0.2rem;
}
.Image_container{
    height: fit-content;
    width: fit-content;
    position: absolute;
    padding: 2px;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    top: 20vh;
    left: 67%;
}

@media screen and (max-width:640px) {

.Hero .Content h1{
   font-size: 1rem;
   padding: 0.6rem 0.1.5rem;
}
.Hero .Content p{
    font-size: 1.2rem ;
   
}
.mask{
    width: 100%;
    position:relative;
}
.btn{
    padding:8px 8px;
}

}